<nav data-component-navigation>
  <a href="https://blockchain.info/address/19hdnHUYwTSCffNKazV379r9HrwNwEfeeA" class="icon bitcoin" target="_blank"></a>
  <a href="https://github.com/sohobase" class="icon github" target="_blank"></a>
  <a href="https://twitter.com/sohobase" class="icon twitter" target="_blank"></a>
  <a class="icon email" href="mailto:hi@sohobase.co" target="_blank"></a>
  <a href='/xcryptos' class='brandname {% if page.title == "xCryptos" %}active{% endif %}'><img src='/assets/images/brandname-xcryptos.png' /></a>
  <a href='/splitbits' class='brandname {% if page.title == "Splitbits" %}active{% endif %}'><img src='/assets/images/brandname-splitbits.png' /></a>
  <a href='/koins' class='brandname {% if page.title == "Koins" %}active{% endif %}'><img src='/assets/images/brandname-koins.png' /></a>
</nav>
