.post-list {
  .category-title {
    margin: 1em 0 0.5em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .post-item {
    margin-bottom: 0.2em;
    display: block;

    a {
      // color: $action-color;
      font-weight: bold;
    }

    .article-title {
      display: inline-block;
      width: 85%;
      border-bottom: 1px dashed lighten($light-gray-color, 10%);
    }

    .date-label {
      border: 1px solid lighten($light-gray-color, 10%);
      padding: 0 0.2em;
      margin-left: 1em;
      margin-top: 2px;
      float: right;
    }
  }

  .post-meta {
    color: $medium-gray-color;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    font-size: rem(14);
  }
}
