.intro {
  a {
    font-weight: normal;
  }

  p {
    font-size: $font-size-large;
  }
}

.post-list {
  .group-title {
    margin-bottom: $offset / 2;
  }

  .post-item {
    display: flex;
    align-items: center;
    margin-bottom: $offset / 4;

    .title {
      flex-grow: 1;
      border-bottom: 1px dashed $light-gray-color;
    }

    .date {
      margin-left: $offset;
    }
  }
}

.date {
  display: inline-block;
  border: 1px solid $light-gray-color;
  padding: ($offset / 10) ($offset / 4);
  text-transform: uppercase;
  font-size: $font-size-small;
  letter-spacing: 1px;
  color: $secondary-color;
}

.disqus {
  background: $secondary-background-color;
  padding: $offset;

  h3 {
    margin-top: 0;
  }
}

.map {
  .anychart-credits {
    display: none;
  }
}
