// -- Size
$unit: 1rem;
$offset: $unit * 1.6;

// Typography
$base-font-family: 'Inconsolata', monospace;

// Font Sizes
$base-font-size: $unit * 1.6;
$font-size-large: $base-font-size * 1.4;
$font-size-small: $base-font-size * 0.8;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Colors
$primary-color: #000;
$accent-color: #0086b3;
$base-color: rgba(51, 51, 51, 0.8);
$secondary-color: #757575;

$white-color: #fff;
$light-gray-color: darken($white-color, 10%);

// Background Colors
$base-background-color: $white-color;
$secondary-background-color: darken($base-background-color, 5%);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Layout
$container-base-width: 720px;
