[data-component-navigation] {
  display: flex;
  flex-grow: 1;

  > * {
    color: $white;
    margin-left: $unit * 2;
    text-align: center;
    &.icon {
      font-size: $font-size-large;
    }
    &:hover { opacity: 1; }
    &.brandname > img {
      height: $font-size;
    }
  }
}
