[data-component='banner'] {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: $unit * 9.6;
  margin-bottom: $unit;
  text-align: center;
  text-decoration: none;

  &.coinbase {
    background: blue;
  }
}
