[data-page='landing'] {
  [data-component-slack] { position: fixed; }

  > section {
    align-items: flex-end;
    bottom: $offset;
    display: flex;
    flex-wrap: wrap;
    left: $offset;
    position: absolute;
    right: $offset;
    > * { flex-grow: 1; }
    > [data-component-navigation] > *:not(:hover) { opacity: 0.75; }
  }
}


@media all and (max-width: 768px) {
  [data-page='landing'] {
    > section {
      right: $offset-mobile;
      bottom: $offset-mobile;
      left: $offset-mobile;
      > [data-component-navigation] { margin-top: $offset-mobile; }
    }

    [data-component-slack] {
      top: $offset-mobile;
      right: $offset-mobile;
    }
  }
}

@media all and (min-width: 769px) {
  $title-min-width: 300px;
  $title-max-width: 360px;
  [data-page='landing'] {
    > section {
      > .title {
        min-width: $title-min-width;
        max-width: $title-max-width;
      }
      > [data-component-navigation] {
        margin-right: $unit * 4;
        align-content: flex-end;
        justify-content: flex-end;
      }
    }
  }

  [data-component-slack] {
    top: $offset;
    right: $offset;
  }
}
