[data-role='banner'] {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: $unit * 9.6;
  margin-bottom: $unit;
  text-align: center;
  text-decoration: none;

  &.coinbase {
    background: blue;
  }
}

[data-role='button'] {
  border-radius: $offset;
  box-shadow: $button-shadow;
  font-family: $font-family-secondary;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  font-style: inherit;
  line-height: $font-size-small;
  padding: $unit ($unit * 2);
  text-transform: uppercase;
  transition: background $transition-duration;

  &.accent {
    background-color: $accent;
    color: white;

    &:hover { background-color: darken($accent, 10%); }
  }
}

[data-role='slack'] {
  position: fixed;
}

@media all and (max-width: 768px) {
  [data-role='slack'] {
    top: $offset-mobile;
    right: $offset-mobile;
  }
}

@media all and (min-width: 769px) {
  [data-role='slack'] {
    top: $offset;
    right: $offset;
  }
}
